<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Service Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark shadow">
    <div class="container">

        <a class="navbar-brand fw-bold fs-3" href="/">
            🚗 AutoCare Cloud
        </a>

        <div>

            <a href="/" class="btn btn-outline-light me-2">
                Home
            </a>

            <a href="/login" class="btn btn-primary me-2">
                Login
            </a>

            <a href="/register" class="btn btn-success">
                Register
            </a>

        </div>

    </div>
</nav>

<section class="hero">

<div class="container">

<div class="row align-items-center">

<div class="col-lg-6">

<h1>

Cloud Based Vehicle

Service Management

</h1>

<p>

Book your vehicle service online.

Track repairs.

Download invoices.

Everything stored securely in the cloud.

</p>

<a href="/register">

<button class="btn btn-lg btn-warning">

Get Started

</button>

</a>

</div>

<div class="col-lg-6 text-center">

<img
src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?w=900"
class="hero-image">

</div>

</div>

</div>

</section>

<section class="features">

<div class="container">

<h2 class="text-center mb-5">

Why Choose Us?

</h2>

<div class="row">

<div class="col-md-4">

<div class="card feature-card">

<h3>☁ Cloud Storage</h3>

<p>

Securely store service history.

</p>

</div>

</div>

<div class="col-md-4">

<div class="card feature-card">

<h3>📅 Easy Booking</h3>

<p>

Book appointments in seconds.

</p>

</div>

</div>

<div class="col-md-4">

<div class="card feature-card">

<h3>📄 Digital Invoice</h3>

<p>

Download PDF bills anytime.

</p>

</div>

</div>

</div>

</div>

</section>

<footer>

© 2026 Vehicle Service Management

</footer>

</body>

</html>